$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$font-family-serif: 'Rubik', sans-serif;
$font-family-base: $font-family-sans-serif !default;
$hero-background-color: rgba(60, 8, 118, 1);
$primary: rgba(60, 8, 118, 1) !default;
