{{ partial "header.html" . }}
<!-- Event snippet for Business Planning Sign-Ups conversion page -->
<script>
	gtag('event', 'conversion', {'send_to': 'AW-987343249/3uHPCIiZz6ABEJHT5tYD'});
</script>

{{ partial "navbar.html" . }}

<div class="bg-custom full-page-cover">
    <div class="container h-100">
        <div class="row d-flex h-100">
            <div class="col-12 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8 justify-content-center align-self-center">
                <div class="card w-100 shadow-lg">
                    <div class="card-body text-center">
                        <h4 class="purple-gradient card-subtitle text-capitalize mb-2">{{ .Title }}</h4>
                        <h6 class="blue-gradient card-text">{{ .Description }}</h6>
                        <a href="/"><button type="button" class="btn btn-primary mt-4 text-center" onclick="mixpanel.track('Go Home', {'Click Location': 'Success'});">Go Back Home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}

<script>
	mixpanel.track("Success Page Viewed", {"First Time": "TRUE"}, function()
	{
		setTimeout(mixpanel.register({"First Time": "FALSE"}), 500);
	});
</script>