<!--<div class="footer">-->
    <!--<div class="container">-->
        <!--<div class="row text-center">-->
            <!--<div class="col">-->
                <!--<p>Email us to ask anything. © 2018</p>-->
                <!--<p>Terms of Service - Privacy Policy</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

{{ $jquery := resources.Get "js/vendor/jquery.min.js" }}
{{ $popperjs := resources.Get "js/vendor/popper.min.js" }}
{{ $bootstrap := resources.Get "js/vendor/bootstrap.min.js" }}
{{ $main := resources.Get "js/main.js" }}
{{ $js := slice $jquery $popperjs $bootstrap $main | resources.Concat "js/bundle.js" | resources.Minify }}
<script src="{{ $js.Permalink }}"></script>
<!--<script>-->
	<!--mixpanel.track("Site Viewed", {"First Time": "TRUE"}, function() {-->
		<!--setTimeout(mixpanel.register({"First Time": "FALSE"}), 500);-->
	<!--});-->
<!--</script>-->
</body>
</html>
