<nav id="nav-main" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!--<a class="navbar-brand" href="#">-->
            <!--<img src="/img/signiture-white.png" width="133" height="33" alt="">-->
        <!--</a>-->
        <a class="navbar-brand" href="#">{{ $.Site.Title }}</a>
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
        <div id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal" onclick="mixpanel.track('Sign Up', {'Click Location': 'Navbar'});">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>