{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div>
<!-- Ranges through home/*.md -->
{{ range $page := where .Pages "File.Dir" "in" "/home/" }}
    {{ $widget := printf "home/%s.html" ( or $page.Params.widget "custom" ) }}
    <section id="{{ $page.File.TranslationBaseName }}" class="home-section">
        {{ partial $widget $page }}
    </section>
{{ end }}
</div>

{{ partial "footer.html" . }}

<script>
	mixpanel.track("Home Page Viewed", {"First Time": "TRUE"}, function()
	{
		setTimeout(mixpanel.register({"First Time": "FALSE"}), 500);
	});
</script>
