{{ $allcourses := where (where $.Site.Pages "Section" "courses") ".Params.home" "!=" true }}
{{ $rootcourse := where (where $.Site.Pages "Section" "courses") ".Params.root" "==" true }}
{{ $courses := $allcourses | intersect $rootcourse }}
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h3 class="mb-6">{{ len $courses }} {{.Title }}</h3>
        </div>
    </div>
    <div class="row">
    {{ range $courses }}
        <div class="col-sm-6 d-flex align-items-sm-stretch">
            <div class="card mt-3">
                <img class="card-img-top" src="{{ .Params.featured_image }}" alt="Card image cap">
                <div class="card-body pt-0">
                    <h6 class="card-subtitle text-capitalize mb-2">{{ .Title }}</h6>
                    <p class="card-text">{{ .Description }}</p>
                </div>
            </div>
        </div>
    {{ end }}
    </div>
</div>