{{ $cta := .GetPage "/home/partials/cta.md" }}
<div class="container">
    <div class="row justify-content-sm-center align-items-center text-center">
        <div class="col-12">
            <div>
                <h1 class="text-capitalize mb-4 text-white">
                    {{.Title }}
                </h1>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <h5 class="tagline mb-5 text-white-50">
                    {{.Params.subtitle}}
                </h5>
            </div>
        </div>
    </div>
    <div class="row cta-section">
        <div class="col text-center">
            <button type="button" class="btn btn-primary btn-lg text-capitalize" data-toggle="modal" data-target="#signupModal" onclick="mixpanel.track('Sign Up', {'Click Location': 'Hero'});">{{ $cta.Title }}</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col text-center">
            {{ range $cta.Params.reasons }}
            <p class="text-background-override list text-light">{{ . }}</p>
            {{ end }}
        </div>
    </div>
</div>
