{{ $cta := .GetPage "/home/partials/cta.md" }}
<div class="container">
    <div class="row justify-content-sm-center align-items-center text-center">
        <div class="col-12">
            <div>
                <h1 class="display-1 text-capitalize">
                    {{.Title }}
                </h1>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <h6 class="tagline">
                    {{.Params.subtitle}}
                </h6>
            </div>
        </div>
    </div>
    <div class="row cta-section">
        <div class="col text-center">
            <button type="button" class="btn btn-primary btn-lg text-capitalize">{{ $cta.Title }}</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col text-center">
            {{ range $cta.Params.reasons }}
            <p class="text-background-override list text-light">{{ . }}</p>
            {{ end }}
        </div>
    </div>
</div>
